p{
   font-kerning: normal;
}
#nokern{
    color:red;
    font-kerning: none;
    text-decoration-line: line-through;
}
h1{
    text-shadow:10px 1px 3px red;
}
a{
    text-decoration-line: unset;
    
}
P::first-line{
    text-indent: 2mm;
}