html{
    background-color: blue;
    /* border-radius: 100%; */
}
body{
    margin: 0 auto;
    width: 60%;
    background-color: green;
    border-color: 5px solid black;

}
img{
    display:block;
    margin: 0 auto;
    border: 10px groove yellow;
    border-radius: 100%;
}

#Header001{
    color:skyblue;
}
#Header002{
    color:orangered;

}